<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="SudokuVS.Server.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>

    <style>
        html, body {
            width: 100%;
            height: 100%;
        }
    </style>

    <HeadOutlet/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<script>
    window.localStorageGetItem = name => localStorage.getItem(name);
    window.localStorageSetItem = (name, value) => localStorage.setItem(name, value);
    window.localStorageRemoveItem = name => localStorage.removeItem(name);
</script>
</body>

</html>