@page "{gameId}"
@using Microsoft.AspNetCore.Components.Web
@using SudokuVS.WebApi.Areas.App.Components
@model SudokuVS.WebApi.Areas.App.Pages.GamePage

@{
    Layout = "_SimpleLayout";
}

<div class="h-100 overflow-auto">
    <component type="typeof(Game)" render-mode="ServerPrerendered" param-GameId="@Model.GameId"/>
</div>

@section Head {
    <link href="/SudokuVS.WebApi.styles.css" rel="stylesheet">
    <base href="/"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
}

@section Scripts {
    <script src="/_framework/blazor.web.js"></script>
}