@page "{gameId}"
@using Microsoft.AspNetCore.Components.Web
@using SudokuVS.WebApi.Areas.App.Components
@model SudokuVS.WebApi.Areas.App.Pages.GamePage

@{
    Layout = "_SimpleLayout";
}

<div class="h-100 overflow-auto">
    <component type="typeof(Game)" render-mode="ServerPrerendered" param-GameId="@Model.GameId"/>
</div>

@section Head {
    <base href="/app/"/>
    <component type="typeof(HeadOutlet)"
               render-mode="ServerPrerendered"/>
}

@section Scripts {
    <script>
    window.copyInvitationLink = async link =>
        await navigator.clipboard.writeText(link).then(() => {
            const button = document.getElementById("copy-invitation-link-button");
            if (!button) {
                return;
            }

            button.textContent = "Copied!";
            button.classList.remove("btn-outline-primary");
            button.classList.add("btn-outline-secondary");
        })
    </script>

    <script src="_framework/blazor.web.js"></script>
}