@inherits LayoutComponentBase

<div class="h-100 d-flex flex-column">
    <header class="text-bg-dark d-flex align-items-center gap-2 px-2" style="height:64px;">
        <div class="h-100 d-flex align-items-center justify-content-center px-4 position-relative">
            <div class="d-flex gap-2 align-items-baseline justify-content-center">
                <div class="d-flex flex-column">
                    <span class="fs-4 fw-semibold">Sudoku VS</span>
                </div>

                @if (_version != null)
                {
                    <span class="small">@_version</span>
                }

                @if (!string.IsNullOrWhiteSpace(_prereleaseIdentifier))
                {
                    <span class="badge text-bg-light">@_prereleaseIdentifier</span>
                }

                @if (_isDebugVersion)
                {
                    <span class="badge text-bg-warning">DEBUG</span>
                }
            </div>
            <a class="stretched-link" href="/"></a>
        </div>

        <div class="flex-grow-1"></div>

        @if (PlayerName != null)
        {
            <div class="h-100 py-2">
                <div class="h-100 vr"></div>
            </div>

            <div class="d-flex align-items-baseline gap-1 px-4">
                <span>Player:</span>
                <span class="d-flex align-items-center justify-content-center fs-4 fw-semibold">
                    @PlayerName
                </span>
                <a class="small text-white" href="/setup">(edit)</a>
            </div>
        }
    </header>

    <hr class="p-0 m-0"/>

    <main class="flex-grow-1">
        <CascadingValue Value="PlayerName">
            @Body
        </CascadingValue>
    </main>
</div>

@inject NavigationManager Navigation;
@inject IJSRuntime JsRuntime;

@code {

    IJSObjectReference? _mainLayoutModule;
    string? _version;
    bool _isDebugVersion;
    string? _prereleaseIdentifier;

    public string? PlayerName { get; set; }

    protected override void OnInitialized()
    {
        _version = Metadata.Version != null ? $"v{Metadata.Version.Major}.{Metadata.Version.Minor}.{Metadata.Version.Patch}" : null;
        _isDebugVersion = Metadata.Version?.IsDebug() ?? false;
        _prereleaseIdentifier = Metadata.Version?.PrereleaseIdentifier().ToUpper() ?? "";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        _mainLayoutModule ??= await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Layout/MainLayout.razor.js");

        PlayerName = await _mainLayoutModule.InvokeAsync<string?>("readName");

        if (string.IsNullOrWhiteSpace(PlayerName))
        {
            Navigation.NavigateTo("/setup");
            return;
        }

        StateHasChanged();
    }

}