@page
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SudokuVS.Game
@using SudokuVS.Server.Areas.App.Components
@model SudokuVS.Server.Areas.App.Pages.Index

@{
    Layout = "_SimpleLayout";
    ViewData["Title"] = "App";
    ViewData["DisplayVersionInformation"] = true;
    ViewData["HideGuides"] = true;
}

<div class="container-sm">
    <div class="d-flex flex-column align-items-center">
        <form method="post" class="py-5 my-5">
            <h1>New Game</h1>

            <div class="row mb-3">
                <label asp-for="NewGame!.Name" class="col-2 col-form-label">Name</label>
                <div class="col">
                    <input asp-for="NewGame!.Name" class="form-control" placeholder="(auto)"/>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewGame!.MaxHints" class="col-2 col-form-label">Hints</label>
                <div class="col">
                    <input type="number" min="0" asp-for="NewGame!.MaxHints" class="form-control"/>
                </div>
            </div>

            <div class="d-flex justify-content-center p-2">
                <button class="btn btn-primary btn-lg p-2 px-5">Start</button>
            </div>
        </form>

        @if (Model.Games is { Count: > 0 })
        {
            <div class="w-100 px-2">
                <h4>Resume</h4>
                <div class="list-group">
                    @foreach (SudokuGame game in Model.Games)
                    {
                        <a class="list-group-item list-group-item-action" asp-area="app" asp-page="/game" asp-route-gameId="@game.Id">
                            <component type="typeof(GameSummaryComponent)" render-mode="ServerPrerendered" param-GameId="@game.Id"/>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>

@section Head {
    <link href="/SudokuVS.Server.styles.css" rel="stylesheet">
    <base href="/"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
}

@section Scripts {
    <script src="/_framework/blazor.web.js"></script>
}