@page "/game/{Token?}"
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime
@inject ISudokuGamesRepository Repository
@inject GameTokenService GameTokenService
@using SudokuVS.App.Components.Game
@using SudokuVS.App.Services
@using SudokuVS.Game
@implements IDisposable

@if (_instance == null)
{
    <PageTitle>Sudoku Battle - Game</PageTitle>
}
else
{
    <PageTitle>Sudoku Battle - @_instance.Name</PageTitle>
}

@if (_instance != null && _playerState != null)
{
    <div class="w-100 h-100 d-flex flex-column">
        <div class="d-flex align-items-center justify-content-center">
            <div class="game-result d-flex flex-column align-items-center justify-content-center border-bottom border-secondary-subtle text-center px-4 py-2">
                <div class="fs-2">@_instance.Name</div>

                <div class="fs-4">
                    @if (_instance.IsOver)
                    {
                        @if (_instance.Winner == _playerState.Side)
                        {
                            <span class="fw-bold text-success">You WIN!</span>
                        }
                        else
                        {
                            <span class="fw-bold text-danger">You LOSE!</span>
                        }
                    }
                    else if (_instance.IsStarted)
                    {
                        <span>Round 1</span>
                    }
                    else
                    {
                        <span>In preparation</span>
                    }
                </div>

                @if (_instance.IsStarted)
                {
                    <div class="fs-4 fw-semibold">@GetElapsedTime()</div>
                }
            </div>
        </div>
        <div class="w-100 flex-grow-1 d-flex align-items-stretch">
            <div class="w-50 border-end border-secondary-subtle pt-4">
                @if (_otherPlayerState != null)
                {
                    <CurrentPlayerComponent State="_playerState"></CurrentPlayerComponent>
                }
                else
                {
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        Waiting for opponent...
                    </div>
                }
            </div>
            <div class="w-50 pt-4">
                @if (_otherPlayerState == null)
                {
                    <div class="w-100 h-100 d-flex flex-column gap-2 align-items-center justify-content-center">
                        <h3>No opponent has joined yet!</h3>
                        <div class="w-50 position-relative d-flex flex-column gap-2 border border-secondary-subtle rounded p-2 px-4 wrap-anywhere">
                            <div id="invitation-link-container" class="font-monospace text-secondary">
                                @_otherPlayerInvitationLink
                            </div>
                            <a class="btn btn-outline-primary my-2 stretched-link" @onclick="CopyInvitationLink" id="copy-invitation-link-button">Copy invitation link</a>
                        </div>
                    </div>
                }
                else
                {
                    <OtherPlayerComponent State="_otherPlayerState"></OtherPlayerComponent>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
        <div class="text-danger">Game not found</div>
        <a href="/">Go back</a>
    </div>
}

@code {

    [Parameter]
    public string? Token { get; set; }

    SudokuGame? _instance;
    PlayerState? _playerState;
    HiddenPlayerState? _otherPlayerState;
    string? _otherPlayerInvitationLink;
    Timer? _timer;

    IJSObjectReference? _gameModule;

    protected override async Task OnInitializedAsync()
    {
        if (Token == null || !GameTokenService.Validate(Token, out Guid gameId, out PlayerSide playerSide))
        {
            return;
        }

        _instance = await Repository.Get(gameId);
        if (_instance == null)
        {
            return;
        }

        _instance.PlayerJoined += OnPlayerJoined;
        _instance.GameOver += OnGameOver;
        _playerState = _instance.GetPlayerState(playerSide) ?? _instance.Join("Tata", playerSide);
        _timer = new Timer(__ => _ = InvokeAsync(StateHasChanged), null, TimeSpan.Zero, TimeSpan.FromSeconds(1));

        TryLoadOpponent();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        _gameModule ??= await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/Game.razor.js");
    }

    string GetElapsedTime()
    {
        if (_instance == null)
        {
            return "";
        }

        TimeSpan time;
        if (_instance.IsOver)
        {
            time = _instance.EndDate.Value - _instance.StartDate.Value;
        }
        else if (_instance.IsStarted)
        {
            time = DateTime.Now - _instance.StartDate.Value;
        }
        else
        {
            time = TimeSpan.Zero;
        }

        if (time.TotalHours >= 1)
        {
            return $"{time.TotalHours:0.}:{time.Minutes:00}:{time.Seconds:00}";
        }

        return $"{time.TotalMinutes:00}:{time.Seconds:00}";
    }

    public void Dispose()
    {
        if (_instance is not null)
        {
            _instance.PlayerJoined -= OnPlayerJoined;
        }

        _timer?.Dispose();
    }

    void TryLoadOpponent()
    {
        _otherPlayerState = _instance!.GetOtherPlayerState(_playerState!.Side);
        if (_otherPlayerState == null)
        {
            _otherPlayerInvitationLink = GetOtherPlayerInvitationLink();
        }
    }

    void OnPlayerJoined(object? __, PlayerSide side)
    {
        if (_playerState == null || _playerState.Side == side)
        {
            return;
        }

        _ = InvokeAsync(
            () =>
            {
                TryLoadOpponent();
                StateHasChanged();
            }
        );
    }

    void OnGameOver(object? __, PlayerSide ___) => _ = InvokeAsync(StateHasChanged);

    string GetOtherPlayerInvitationLink()
    {
        if (_instance == null || _playerState == null)
        {
            return "";
        }

        string jwtToken = GameTokenService.Generate(_instance.Id, _playerState.Side.Other());
        return $"{Navigation.BaseUri}game/{jwtToken}";
    }

    async Task CopyInvitationLink()
    {
        if (_gameModule == null)
        {
            return;
        }

        await _gameModule.InvokeVoidAsync("copyInvitationLink", _otherPlayerInvitationLink);
    }

}