.sudoku-grid {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

.sudoku-grid.big {
    width: 768px;
    height: 768px;
}

.sudoku-grid.medium {
    width: 384px;
    height: 384px;
}

.sudoku-grid.small {
    width: 192px;
    height: 192px;
}

.sudoku-grid.xsmall {
    width: 96px;
    height: 96px;
}

.sudoku-grid .rows {
    position: absolute;
    inset: 0;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr;
}

.sudoku-grid .columns {
    position: absolute;
    inset: 0;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, 1fr);
}

.sudoku-grid .regions {
    position: absolute;
    inset: 0;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.sudoku-grid .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sudoku-grid .annotation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;

    padding: 4px;
}

.sudoku-grid.big .cell {
    font-size: 48px;
}

.sudoku-grid.medium .cell {
    font-size: 24px;
}

.sudoku-grid.small .cell {
    font-size: 12px;
}

.sudoku-grid.xsmall .cell {
    font-size: 6px;
}

.sudoku-grid.big .annotation {
    font-size: 12px;
}

.sudoku-grid.medium .annotation {
    font-size: 6px;
}

.sudoku-grid.small .annotation {
    font-size: 3px;
}

.sudoku-grid.xsmall .annotation {
    font-size: 1px;
}

.sudoku-grid .border-light-grey {
    box-shadow: inset 0 0 0 2px lightgray;
}

.sudoku-grid .border-grey {
    box-shadow: inset 0 0 0 2px gray;
}

.sudoku-grid .border-light-pink {
    box-shadow: inset 0 0 0 2px pink;
}

.sudoku-grid .border-pink {
    box-shadow: inset 0 0 0 2px hotpink;
}

.sudoku-grid .border-light-blue {
    box-shadow: inset 0 0 0 2px lightcyan;
}

.sudoku-grid .border-blue {
    box-shadow: inset 0 0 0 2px lightblue;
}

.sudoku-grid .border-yellow {
    box-shadow: inset 0 0 0 2px gold;
}

.sudoku-grid .border-red {
    box-shadow: inset 0 0 0 2px red;
}

.sudoku-grid .border-green {
    box-shadow: inset 0 0 0 2px green;
}

.sudoku-grid .border-dark1 {
    color: #F0F0F0;
}

.sudoku-grid .border-dark2 {
    color: #E0E0E0;
}

.sudoku-grid .border-dark3 {
    color: #D0D0D0;
}

.sudoku-grid .border-dark4 {
    color: #C0C0C0;
}

.sudoku-grid .border-dark5 {
    color: #B0B0B0;
}

.sudoku-grid .border-dark6 {
    color: #A0A0A0;
}

.sudoku-grid .border-dark7 {
    color: #909090;
}

.sudoku-grid .border-dark8 {
    color: #808080;
}

.sudoku-grid .border-dark9 {
    color: #707070;
}

.sudoku-grid .border-orange {
    box-shadow: inset 0 0 0 2px orangered;
}

.sudoku-grid .bg-light-grey {
    background-color: lightgray;
}

.sudoku-grid .bg-grey {
    background-color: gray;
}

.sudoku-grid .bg-light-pink {
    background-color: lightpink;
}

.sudoku-grid .bg-pink {
    background-color: pink;
}

.sudoku-grid .bg-light-blue {
    background-color: lightcyan;
}

.sudoku-grid .bg-blue {
    background-color: lightblue;
}

.sudoku-grid .bg-yellow {
    background-color: gold;
}

.sudoku-grid .bg-red {
    background-color: red;
}

.sudoku-grid .bg-orangered {
    background-color: orangered;
}

.sudoku-grid .bg-dark1 {
    background-color: #F0F0F0;
}

.sudoku-grid .bg-dark2 {
    background-color: #E0E0E0;
}

.sudoku-grid .bg-dark3 {
    background-color: #D0D0D0;
}

.sudoku-grid .bg-dark4 {
    background-color: #C0C0C0;
}

.sudoku-grid .bg-dark5 {
    background-color: #B0B0B0;
}

.sudoku-grid .bg-dark6 {
    background-color: #A0A0A0;
}

.sudoku-grid .bg-dark7 {
    background-color: #909090;
}

.sudoku-grid .bg-dark8 {
    background-color: #808080;
}

.sudoku-grid .bg-dark9 {
    background-color: #707070;
}

.sudoku-grid .txt-light-grey {
    color: lightgray;
}

.sudoku-grid .txt-grey {
    color: gray;
}

.sudoku-grid .txt-light-pink {
    color: lightpink;
}

.sudoku-grid .txt-pink {
    color: pink;
}

.sudoku-grid .txt-light-blue {
    color: lightcyan;
}

.sudoku-grid .txt-blue {
    color: lightblue;
}

.sudoku-grid .txt-yellow {
    color: gold;
}

.sudoku-grid .txt-red {
    color: red;
}

.sudoku-grid .txt-green {
    color: green;
}

.sudoku-grid .txt-orange {
    color: orangered;
}

.sudoku-grid .txt-dark1 {
    color: #F0F0F0;
}

.sudoku-grid .txt-dark2 {
    color: #E0E0E0;
}

.sudoku-grid .txt-dark3 {
    color: #D0D0D0;
}

.sudoku-grid .txt-dark4 {
    color: #C0C0C0;
}

.sudoku-grid .txt-dark5 {
    color: #B0B0B0;
}

.sudoku-grid .txt-dark6 {
    color: #A0A0A0;
}

.sudoku-grid .txt-dark7 {
    color: #909090;
}

.sudoku-grid .txt-dark8 {
    color: #808080;
}

.sudoku-grid .txt-dark9 {
    color: #707070;
}