.bg-yellow {
    background-color: gold;
}

.bg-orange {
    background-color: orangered;
}

.text-on-blue {
    color: black;
}

.text-on-yellow {
    color: black;
}

.text-on-orange {
    color: white;
}